/*@@media print {



  @page {
    size: A4 portrait;
  }
}*/
  * {
  	margin:0;
  	padding:0;

  }

  html, body { height: 100% }
  html { background: black }
  body {


    font-family: 'SuisseIntlTrial-Book' sans-serif;
  	font-weight: 300;
  	background-color: #242424;
  	height: 100vh;
  	font-size: 12pt;
  	line-height: 16pt;
  	color: red;

  	}


      #title{
        margin-left: 5vw;
        margin-top: 4vh ;
        font-family: 'Oroban-Masuria', serif;
        position: fixed;
        font-size: 25pt;
        text-transform: uppercase;
        text-align: left;
        line-height: 11pt;
        width: 40%;
        color: white;
        letter-spacing: 0.6px;
        z-index: 900;
        /*background-color: black;
        border: thin solid black;*/
        border-width: 20px;
      }


			/*#abstracttext {
				background-color: #EAEAEA;
				left: -200%;
				width: 100vw;
				height: 100vh;
			}*/

      #footnotes {
        margin-left: 65vw;
        font-size: 15pt;
        font-family: 'SuisseIntlTrial-Book' sans-serif;
        line-height: 20pt;
        color: white;
        letter-spacing: 0.6px;
        background-color: black;
				position:fixed;
				overflow-y:scroll;
				overflow-x:hidden;
				width: 35%;
        height: 100%;
				border: thin solid black;
      	border-width: 20px;
      }

      #images{
				position:fixed;
				overflow-y:scroll;
				overflow-x:hidden;
				background-color: #1C1C1C;
				width: 60vw;
        height: 100%;
				margin-left: 5vw;
				margin-top: 8vh;
			}



			#printbutton {
      	margin-left: 10vw;
      	margin-top: 80vh;
      	position: fixed;
        font-size: 25pt;
        text-transform: uppercase;
        font-family: 'Oroban-Masuria', serif;
        text-align: left;
      	line-height: 11pt;
      	width: 5%;
      	color: white;
      	letter-spacing: 0.6px;
      	z-index: 900;
      	border-width: 20px;
      }

      #menu{
        left: 37,5vw;
      	margin-top: 30vh ;
				bottom: 2%;
      	position: fixed;
        font-family: 'Oroban-Masuria', serif;
				text-transform: uppercase;
      	font-size: 10pt;
      	line-height: 11pt;
      	width: 48vw;
				height: 5vh;
      	color: white;
      	letter-spacing: 0.3px;
      	z-index: 200;
      	background-color: black;
      	border: thin solid black;
      	border-width: 5px;
        text-decoration: none;
        z-index: 900;

      }

        /*.select{
          text-decoration: none;

        }*/

				img {
					max-width: 100%;
					max-height: 100%;
          margin-bottom: 10px;
				}

      .maintext {

      	letter-spacing: 0.3px;
        font-weight: 300;
      	border: thin solid white;
      	border-width: 30px;
      	background-color: white;
      	max-width: 45%;
      	font-size: 15pt;
        font-weight: 400;
      	line-height: 18pt;
        /*text-indent: 40px;*/
      	width: 43%;
        height: 70%;
        max-height: 80%;
      	color: black;
      	z-index: 100;
      	top: 20vh;
      	 left: 38vw;
          /*bottom:1.5%;*/
          position:fixed;
          overflow-y:scroll;
          overflow-x:hidden;
      }

      .startquote {
        float: left;
        font-family: 'Oroban-Masuria', serif;
        font-size: 17pt;
        line-height: normal;
        text-align: left;
        width: 80%;
        margin: 10px;
      }

      .endquote {
        float: right;
        /*font-weight: bold;*/
        font-family: 'Oroban-Masuria', serif;
        font-size: 17pt;
        line-height: normal;
        text-align: right;
        width: 90%;
        margin: 10px;
      }

      .author {
        font-family: 'Oroban-MasuriaItalic', serif;
        font-size: 12pt;
      }

      .chaptertitle {
        font-weight: bold;
      }

      #footnotes:hover {
        z-index: 800;
      }

      #main:hover {
        z-index: 800;
      }

      #images:hover {
        z-index: 800;
      }



      .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
